1\. **The HelloWorld replacement**

a) Write a program that:
- prints the numbers from 1 to 100
- but for multiples of three print "`Hello`" instead of the number and for the multiples of five print "`World`"
- for numbers which are multiples of both three and five print "`HelloWorld`".

In [8]:
for i in range (1,101):
    if i%3==0 and i%5!=0 :
        print("Hello")
    elif i%5==0 and i%3!=0 :
        print("World")
    elif i%5==0 and i%3==0 :
        print("HelloWorld")
    else: print(i)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World

b) Put the result in a tuple and substitute "`Hello`" with "`Python`" and "`World`" with "`Works`".

In [1]:
l = []
for i in range (1,101):
    if i%3==0 and i%5!=0 :
        l.append("Hello")
    elif i%5==0 and i%3!=0 :
        l.append("World")
    elif i%5==0 and i%3==0 :
        l.append("HelloWorld")
    else: l.append(i)
        
myString = ' '.join(map(str,l))
myString = myString.replace("Hello","Python")
myString = myString.replace("World","Works")
l = myString.split(" ")
t = tuple(l)
print(t)

('1', '2', 'Python', '4', 'Works', 'Python', '7', '8', 'Python', 'Works', '11', 'Python', '13', '14', 'PythonWorks', '16', '17', 'Python', '19', 'Works', 'Python', '22', '23', 'Python', 'Works', '26', 'Python', '28', '29', 'PythonWorks', '31', '32', 'Python', '34', 'Works', 'Python', '37', '38', 'Python', 'Works', '41', 'Python', '43', '44', 'PythonWorks', '46', '47', 'Python', '49', 'Works', 'Python', '52', '53', 'Python', 'Works', '56', 'Python', '58', '59', 'PythonWorks', '61', '62', 'Python', '64', 'Works', 'Python', '67', '68', 'Python', 'Works', '71', 'Python', '73', '74', 'PythonWorks', '76', '77', 'Python', '79', 'Works', 'Python', '82', '83', 'Python', 'Works', '86', 'Python', '88', '89', 'PythonWorks', '91', '92', 'Python', '94', 'Works', 'Python', '97', '98', 'Python', 'Works')

2\. **The swap**

Write a program that swaps the values of two input variables *x* and *y* from command line (whatever the type).

Try to do that without using a temporary variable, exploiting the Python syntax.

In [32]:
l = []
x = input("x = ")
l.append(x)
y = input("y = ")
l.append(y)
x,y = l[1],l[0]
print("x =",x)
print("y =",y)

x = 1
y = 2
x = 2
y = 1

In [4]:
x = input("x = ")
y = input("y = ")
s1 = type(x)
s2 = type(y)
x = str(x)
x1 = len(x)
x += str(y)
y = s2(x[:x1])
x = s1(x[x1:])
print(x,y)
print(s1,s2)

x = 1
y = 2
2 1
<class 'str'> <class 'str'>

In [5]:
x = input("x = ")
y = input("y = ")

x,y = y,x
print(x,y)

x = 1
y = 2
2 1

3\. **Computing the distance**

In [6]:
import math
x1 = input("u(x)= ")
y1 = input("u(y)= ")
x2 = input("v(x)= ")
y2 = input("v(y)= ")
u = (x1,y1)
v = (x2,y2)
D = (int(u[0])-int(v[0]))**2 + (int(u[1])-int(v[1]))**2
print ('the distance between x and y is :',math.sqrt(D))

u(x)= 1
u(y)= 2
v(x)= 3
v(y)= 6
the distance between x and y = 4.47213595499958

4\. **Counting letters**

In [12]:
def count_letters(myString):
    l = []
    for i in range(len(myString)):
        l.append(myString[i])
    characters,iterations = [],[]
    a = dict
    for x in l:
        if x not in characters:
            characters.append(x)
            iterations.append(l.count(x))
    zipped = zip(characters,iterations)
    print(list(zipped))
s1 = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
s2 = "The quick brown fox jumps over the lazy dog" 
count_letters(s1.lower())
print("----------------------")
count_letters(s2.lower())

[('w', 4), ('r', 19), ('i', 12), ('t', 19), ('e', 20), (' ', 41), ('a', 7), ('p', 8), ('o', 15), ('g', 1), ('m', 8), ('h', 11), ('n', 10), ('s', 7), ('u', 7), ('b', 5), ('f', 10), ('1', 2), ('0', 2), ('.', 3), ('l', 12), ('d', 5), ('v', 2), ('c', 1)]
----------------------
[('t', 2), ('h', 2), ('e', 3), (' ', 8), ('q', 1), ('u', 2), ('i', 1), ('c', 1), ('k', 1), ('b', 1), ('r', 2), ('o', 4), ('w', 1), ('n', 1), ('f', 1), ('x', 1), ('j', 1), ('m', 1), ('p', 1), ('s', 1), ('v', 1), ('l', 1), ('a', 1), ('z', 1), ('y', 1), ('d', 1), ('g', 1)]

5\. **Isolating the unique**

In [25]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
unique = []
characters, iterations = [],[]
for x in l:
    if x not in characters:
        characters.append(x)
        iterations.append(l.count(x))

zipped = list(zip(characters,iterations))
print(zipped,'\n')
for (x,y) in zipped:
    if y == 1 :
        unique.append(x)

print('list of unique numbers which are :',len(unique),'\n')
print(unique)

[(36, 3), (45, 3), (58, 1), (3, 2), (74, 1), (96, 1), (64, 1), (31, 2), (10, 1), (24, 1), (19, 1), (33, 1), (86, 1), (99, 1), (18, 1), (63, 2), (70, 3), (85, 3), (47, 1), (56, 2), (42, 2), (84, 4), (88, 1), (55, 1), (20, 3), (54, 1), (8, 1), (51, 3), (79, 1), (81, 1), (57, 1), (37, 1), (91, 3), (1, 1), (66, 2), (9, 1), (89, 2), (50, 2), (95, 1), (90, 1), (98, 1), (39, 1), (16, 1), (82, 1), (92, 1), (41, 1), (30, 1), (34, 2), (94, 1), (5, 1), (72, 1), (87, 1), (75, 1), (53, 1)]

list of unique numbers which are : 37

[58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]

6\. **Casting**

Write a program that:
* reads from command line two variables, that can be either `int`, `float`, or `str`.
* use the `try`/`except` expressions to perform the addition of these two variables, only if possible
* and print the result without making the code crash for all the `int`/`float`/`str` input combinations.

In [54]:
x = input("x =")          
y = input("y =")

try:
    x = float(x)
except ValueError:
    x = x
try:
    y = float(y)
except ValueError:
    y = y
try:
    c = x + y
    print(c)
except TypeError:
    print('not the same type')

x =4.5
y =5
9.5

7\. **Cubes**

a) a for loop

In [65]:
l = []
for x in range(11):
    l.append(x**3)
print(l)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

b) a list comprehension

In [66]:
L = [x**3 for x in range(11)]
print(L)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. **List comprehension**

In [55]:
a = [(i, j) for i in range(3) for j in range(4)]
print(a)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

9\. **Nested list comprehension**

> A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3, 4, 5).

Find and put in a tuple all unique Pythagorean triples for the positive integers $a$, $b$ and $c$ with $c < 100$.

In [90]:
from math import sqrt
l = [x**2 for x in range(100)]
L = []
for a in range(1,100):
    for b in range(1,100):
        x = a**2 + b**2
        if x in l:
            c = int(sqrt(x))
            if [b,a,c] not in L:
                L.append([a,b,c])
L = tuple(L)
print(L)

([3, 4, 5], [5, 12, 13], [6, 8, 10], [7, 24, 25], [8, 15, 17], [9, 12, 15], [9, 40, 41], [10, 24, 26], [11, 60, 61], [12, 16, 20], [12, 35, 37], [13, 84, 85], [14, 48, 50], [15, 20, 25], [15, 36, 39], [16, 30, 34], [16, 63, 65], [18, 24, 30], [18, 80, 82], [20, 21, 29], [20, 48, 52], [21, 28, 35], [21, 72, 75], [24, 32, 40], [24, 45, 51], [24, 70, 74], [25, 60, 65], [27, 36, 45], [28, 45, 53], [30, 40, 50], [30, 72, 78], [32, 60, 68], [33, 44, 55], [33, 56, 65], [35, 84, 91], [36, 48, 60], [36, 77, 85], [39, 52, 65], [39, 80, 89], [40, 42, 58], [40, 75, 85], [42, 56, 70], [45, 60, 75], [48, 55, 73], [48, 64, 80], [51, 68, 85], [54, 72, 90], [57, 76, 95], [60, 63, 87], [65, 72, 97])

10\. **Normalization of a N-dimensional vector**

Write a program that takes an N-dimensional vector, e.g. a variable-length tuple of numbers, and normalizes it to one (in such a way that the squared sum of all the entries is equal to 1).

In [110]:
from math import sqrt
l = [12, 15, 4, 18, 450, 603, 179, 1500] #list to be normalized
L = [i**2 for i in l]
Norm = sqrt(sum(L))
for i in range(len(l)):
    l[i]/=Norm
l_squared = [i**2 for i in l]
print('Normalized list:\n',l,'\n\nsum of the list squared:',sum(l_squared))

Normalized list:
 [0.007109609844848337, 0.008887012306060421, 0.0023698699482827793, 0.010664414767272506, 0.26661036918181263, 0.35725789470362895, 0.10605168018565436, 0.8887012306060422]

sum of the list squared: 1.0

11\. **The Fibonacci sequence**

Calculate the first 20 numbers of the [Fibonacci sequence](https://en.wikipedia.org/wiki/Fibonacci_number) using only `for` or `while` loops.

In [117]:
fib = [0 for i in range(20)]
fib[1] = 1
for i in range(2,len(fib)):
    fib[i] = fib[i-1] + fib[i-2]
print(fib)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]