1\. **The HelloWorld replacement**

a) Write a program that:
- prints the numbers from 1 to 100
- but for multiples of three print "`Hello`" instead of the number and for the multiples of five print "`World`"
- for numbers which are multiples of both three and five print "`HelloWorld`".

In [8]:
for i in range (1,101):
    if i%3==0 and i%5!=0 :
        print("Hello")
    elif i%5==0 and i%3!=0 :
        print("World")
    elif i%5==0 and i%3==0 :
        print("HelloWorld")
    else: print(i)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World

b) Put the result in a tuple and substitute "`Hello`" with "`Python`" and "`World`" with "`Works`".

In [1]:
l = []
for i in range (1,101):
    if i%3==0 and i%5!=0 :
        l.append("Hello")
    elif i%5==0 and i%3!=0 :
        l.append("World")
    elif i%5==0 and i%3==0 :
        l.append("HelloWorld")
    else: l.append(i)
        
myString = ' '.join(map(str,l))
myString = myString.replace("Hello","Python")
myString = myString.replace("World","Works")
l = myString.split(" ")
t = tuple(l)
print(t)

('1', '2', 'Python', '4', 'Works', 'Python', '7', '8', 'Python', 'Works', '11', 'Python', '13', '14', 'PythonWorks', '16', '17', 'Python', '19', 'Works', 'Python', '22', '23', 'Python', 'Works', '26', 'Python', '28', '29', 'PythonWorks', '31', '32', 'Python', '34', 'Works', 'Python', '37', '38', 'Python', 'Works', '41', 'Python', '43', '44', 'PythonWorks', '46', '47', 'Python', '49', 'Works', 'Python', '52', '53', 'Python', 'Works', '56', 'Python', '58', '59', 'PythonWorks', '61', '62', 'Python', '64', 'Works', 'Python', '67', '68', 'Python', 'Works', '71', 'Python', '73', '74', 'PythonWorks', '76', '77', 'Python', '79', 'Works', 'Python', '82', '83', 'Python', 'Works', '86', 'Python', '88', '89', 'PythonWorks', '91', '92', 'Python', '94', 'Works', 'Python', '97', '98', 'Python', 'Works')

2\. **The swap**

In [32]:
l = []
x = input("x = ")
l.append(x)
y = input("y = ")
l.append(y)
x,y = l[1],l[0]
print("x =",x)
print("y =",y)

x = 1
y = 2
x = 2
y = 1

3\. **Computing the distance**

In [39]:
import math
x1 = input("u(x)= ")
y1 = input("u(y)= ")
x2 = input("v(x)= ")
y2 = input("v(y)= ")
u = (x1,y1)
v = (x2,y2)
D = (int(u[0])-int(v[0]))**2 + (int(u[1])-int(v[1]))**2
print (math.sqrt(D))

u(x)= 3
u(y)= 0
v(x)= 0
v(y)= 4
5.0

4\. **Counting letters**

In [50]:
def count_letters(string):
    l = []
    for i in range(len(myString)):
        l.append(myString[i])
    characters,iterations = [],[]
    a = dict
    for x in l:
        if x not in characters:
            characters.append(x)
            iterations.append(l.count(x))
    zipped = zip(characters,iterations)
    print(list(zipped))
s1 = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
s2 = "The quick brown fox jumps over the lazy dog" 
count_letters(s1)
print("----------------------")
count_letters(s2)

[('W', 3), ('r', 19), ('i', 12), ('t', 19), ('e', 20), (' ', 43), ('a', 7), ('p', 8), ('o', 15), ('g', 1), ('m', 8), ('h', 9), ('n', 10), ('s', 7), ('u', 7), ('b', 4), ('f', 9), ('1', 2), ('0', 2), ('.', 3), ('\\', 2), ('B', 1), ('l', 12), ('H', 2), ('d', 5), ('v', 2), ('F', 1), ('w', 1), ('c', 1)]
----------------------
[('W', 3), ('r', 19), ('i', 12), ('t', 19), ('e', 20), (' ', 43), ('a', 7), ('p', 8), ('o', 15), ('g', 1), ('m', 8), ('h', 9), ('n', 10), ('s', 7), ('u', 7), ('b', 4), ('f', 9), ('1', 2), ('0', 2), ('.', 3), ('\\', 2), ('B', 1), ('l', 12), ('H', 2), ('d', 5), ('v', 2), ('F', 1), ('w', 1), ('c', 1)]

5\. **Isolating the unique**

In [55]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
unique = []
for x in l:
    if x not in unique:
        unique.append(x)
print(len(unique),"unique numbers which are :", unique)

54 unique numbers which are : [36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]

6\. **Casting**

In [84]:
x = input("x =")
y = input("y =")
if type(float(x))== int:
    x=float(x)
try:
    print(float(x)+float(y)) 
except:
    print("not the same type")

x =14
y =52
66.0

7\. **Cubes**

a) a for loop

In [65]:
l = []
for x in range(11):
    l.append(x**3)
print(l)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

b) a list comprehension

In [66]:
L = [x**3 for x in range(11)]
print(L)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. **List comprehension**

In [77]:
a = [[(i, j) for i in range(3) for j in range(4)]]
print(a)

[[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]]

9\. **Nested list comprehension**

In [83]:
import math
l = []
for a in range(100):
    for b in range(100):
        x = a**2 + b**2
        c = math.sqrt(x)
        if type(c) == int:
            l.append([a,b,c])
print(l)

[]

In [79]:
x = 7.2
type(x)==int

False